h1 {
    text-align: center;
    font-size: 24px;
    margin: 5px 0;
    padding-right: 140px;
}

h2 {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
}

hr {
    margin: 15px 0;
}

#main-content {
    width: 800px;
    height: auto;
    margin: 10px auto;
}

#main-frame {
    width: 672px;
    height: 512px;
    border: 1px solid #000;
}

#dashboard {
    margin-top: 30px;
    height: 512px;
    width: 672px;
}

#dashboard > div {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 221px;
}

#dashboard > div > div {
    height: 305px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.panel-table {
    border-collapse: collapse;
    margin: auto;
}

.panel-table td, .panel-table th {
    font-size: 14px;
    border: 1px solid #000;
    padding: 6px 14px 6px 14px;
    text-align:center;
}
